[loggers]
keys=root, batch, communicator, commander, requestprocessor, interest, voucher, bug_report, authentication, accumulated, application, security, feedback, card, suds, lite_updater, internal_liquidation, renew, cumulative, blacklist, security, GL, central_log, file_watcher, aaserver, voucher_engine_tracer

[handlers]
keys=console, root_file, bug_report_file, feedback_file, local_syslog, central_syslog, mail_syslog, scheduler

[formatters]
keys=base

#================================ LOGGERS ====================================

[logger_root]
level=CRITICAL
handlers=root_file

[logger_application]
level=INFO
handlers=local_syslog
qualname=application
propagate = 0

[logger_batch]
level=INFO
handlers=local_syslog, scheduler
qualname=batch
propagate = 0

[logger_interest]
level=INFO
handlers=local_syslog
qualname=interest
propagate = 0

[logger_communicator]
level=INFO
handlers=local_syslog
qualname=communicator
propagate = 0

[logger_requestprocessor]
level=INFO
handlers=local_syslog
qualname=requestprocessor
propagate = 0

[logger_commander]
level=ERROR
handlers=local_syslog
qualname=commander
propagate = 0

[logger_voucher]
level=INFO
handlers=local_syslog
qualname=voucher
propagate = 0

[logger_bug_report]
level=INFO
handlers=local_syslog
qualname=bug_report
propagate = 0

[logger_authentication]
level=INFO
handlers=local_syslog
qualname=authentication
propagate = 0

[logger_accumulated]
level=INFO
handlers=local_syslog, scheduler
qualname=accumulated
propagate = 0

[logger_feedback]
level=INFO
handlers=feedback_file
qualname=feedback

[logger_security]
level=INFO
handlers=local_syslog
qualname=security
propagate = 0

[logger_card]
level=DEBUG
handlers=local_syslog
qualname=card
propagate = 0

[logger_renew]
level=DEBUG
handlers=local_syslog, scheduler
qualname=renew
propagate = 0

[logger_cumulative]
level=DEBUG
handlers=local_syslog, scheduler
qualname=cumulative
propagate = 0

[logger_blacklist]
level=INFO
handlers=local_syslog
qualname=blacklist
propagate = 0

[logger_voucher_engine_tracer]
level=INFO
handlers=local_syslog
qualname=voucher_engine_tracer
propagate = 0

[logger_suds]
level=CRITICAL
propagate=0
handlers=console
qualname=suds

[logger_lite_updater]
level=INFO
handlers=local_syslog
qualname=lite_updater
propagate = 0

[logger_internal_liquidation]
level=INFO
handlers=local_syslog
qualname=internal_liquidation
propagate = 0

[logger_security]
level=INFO
handlers=local_syslog
qualname=security
propagate = 0

[logger_GL]
level=DEBUG
handlers=local_syslog
qualname=GL
propagate = 0

[logger_central_log]
level=DEBUG
handlers=central_syslog
qualname=central_log
propagate = 0

[logger_file_watcher]
level=INFO
handlers=mail_syslog
qualname=file_watcher
propagate = 0

[logger_aaserver]
level=INFO
handlers=local_syslog
qualname=aaserver
propagate = 0

#================================ HANDLERS ====================================

[handler_console]
class=StreamHandler
formatter=base
args=(sys.stdout,)

[handler_local_syslog]
class=handlers.SysLogHandler
formatter=base
args=('/dev/log', handlers.SysLogHandler.LOG_LOCAL5)

[handler_root_file]
class=handlers.TimedRotatingFileHandler
formatter=base
args=('/var/log/corebanking/root.log','D' , 1, 7)

[handler_bug_report_file]
class=handlers.TimedRotatingFileHandler
formatter=base
args=('/var/log/corebanking/bug_report.log', 'D', 1, 7)

[handler_feedback_file]
class=handlers.TimedRotatingFileHandler
formatter=base
args=('/var/log/corebanking/feedback.log', 'W4', 4, 5)

[handler_central_syslog]
class=handlers.SysLogHandler
formatter=base
args=('/dev/log', handlers.SysLogHandler.LOG_LOCAL2)

[handler_mail_syslog]
class=handlers.SysLogHandler
formatter=base
args=('/dev/log', handlers.SysLogHandler.LOG_MAIL)

[handler_scheduler]
class=corebanking.lite_scheduler.reports.scheduler_batch_log_handler.SchedulerBatchLogHandler
formatter=base
args=()

#================================ FORMATTERS ==================================

[formatter_base]
format=[%(levelname)s]-[%(process)d-%(thread)d]-[%(asctime)s]-[%(name)s]: %(message)s
