[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aniso8601 = "*"
attrs = "*"
bcrypt = "*"
cffi = "*"
click = "*"
itsdangerous = "*"
jsonschema = "*"
psycopg2-binary = "*"
pycparser = "*"
pyrsistent = "*"
pytz = "*"
six = "*"
Flask = "*"
Flask-Script = "*"
Flask-Testing = "*"
Jinja2 = "*"
MarkupSafe = "*"
PyJWT = "*"
SQLAlchemy = "*"
Werkzeug = "*"
setuptools = "*"
colorama = "*"
python-dotenv = "*"
cryptography = "*"
flask-babel = "*"
pytest = "*"
uwsgi = "*"

[requires]
python_version = "3.7"
