[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aniso8601 = "*"
bcrypt = "*"
pytz = "*"
Flask = "*"
PyJWT = "*"
SQLAlchemy = "*"
colorama = "*"
python-dotenv = "*"
cryptography = "*"
flask-babel = "*"
babel = "*"
alembic = "*"
fire = "*"
sqlparse = "*"
titlecase = "*"
twine = "*"
pymemcache = "*"
sentry-sdk = "*"
blinker = "*"
redis = "*"
celery = "*"
psycopg2 = "*"
pytest = "*"
pytest-cov = "*"
pygments = "*"
setuptools = "*"
flasgger = "*"

[requires]
python_version = "3.8"
