[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pygments = "*"
psycopg2-binary = "*"

[packages]
aniso8601 = "*"
bcrypt = "*"
pytz = "*"
Flask = "*"
PyJWT = "*"
SQLAlchemy = "*"
colorama = "*"
python-dotenv = "*"
cryptography = "*"
flask-babel = "*"
babel = "*"
alembic = "*"
fire = "*"
sqlparse = "*"

[requires]
python_version = "3.7"
