[active]
selected: test

[development]

local: sqlite:///../resources/database/database.bind.local.db
test: sqlite:///../resources/database/database.bind.test.db

[production]

local: sqlite:///../resources/database/database.bind.local.db
test: sqlite:///../resources/database/database.bind.test.db

[test]

local: sqlite:///../resources/database/database.bind.local.db
test: sqlite:///../resources/database/database.bind.test.db
