[active]
selected: test

[development]

local: postgresql+psycopg2://postgres:123@127.0.0.1:5432/test_db2
test: postgresql+psycopg2://postgres:123@127.0.0.1:5432/test_db3

[production]

local: postgresql+psycopg2://postgres:123@127.0.0.1:5432/test_db2
test: postgresql+psycopg2://postgres:123@127.0.0.1:5432/test_db3

[test]

local: postgresql+psycopg2://postgres:123@127.0.0.1:5432/test_db2
test: postgresql+psycopg2://postgres:123@127.0.0.1:5432/test_db3
