[general]

# application default time zone.
babel_default_timezone: UTC

# application default locale.
# example: en, fa
babel_default_locale: fa

# directories that translation files are saved.
babel_translation_directories: locale

[security]

# this key has been added to test duplicate key prevention in get_all() service.
babel_default_timezone: GMT
