[run]

# whether to measure branch coverage in addition to statement coverage.
branch: false

# whether to measure the python standard library.
cover_pylib: false

# a list of file name patterns, the files to leave out of measurement or reporting.
omit: tests/*
      start_test.py
      */__init__.py
      */decorators.py
      */component.py
      */exceptions.py

# a list of packages or directories, the source to measure during execution.
source: pyrin/

[report]

# a list of file name patterns, the files to leave out of reporting.
omit: tests/*
      start_test.py
      */__init__.py
      */decorators.py
      */component.py
      */exceptions.py

# don’t include files in the report that are 100% covered files.
skip_covered: false

# don’t include empty files (those that have 0 statements) in the report.
skip_empty: true

# sort the text report by the named column.
# allowed values are: Name, Stmts, Miss, Branch, BrPart, Cover.
sort: Cover

# a list of regular expressions. any line of your source code that
# matches one of these regexes is excluded from being reported as missing.
exclude_lines: raise CoreNotImplementedError()