[loggers]
keys = root, batch

[handlers]
keys = console, root_file, batch_file, local_syslog, central_syslog, mail_syslog

[formatters]
keys = base

================================ LOGGERS ====================================

[logger_root]
level = DEBUG
handlers = root_file, local_syslog
qualname = root

[logger_batch]
level = INFO
handlers = batch_file, local_syslog
qualname = batch
propagate = 0

================================ HANDLERS ====================================

[handler_console]
class = StreamHandler
formatter = base
args = (sys.stdout,)

[handler_local_syslog]
class = handlers.SysLogHandler
formatter = base
args = ('/dev/log', handlers.SysLogHandler.LOG_LOCAL5)

[handler_root_file]
class = handlers.TimedRotatingFileHandler
formatter = base
args = ('/var/log/bshop/root.log','D' , 1, 7)

[handler_batch_file]
class = handlers.TimedRotatingFileHandler
formatter = base
args = ('/var/log/bshop/batch.log','D' , 1, 7)

[handler_central_syslog]
class = handlers.SysLogHandler
formatter = base
args = ('/dev/log', handlers.SysLogHandler.LOG_LOCAL2)

[handler_mail_syslog]
class = handlers.SysLogHandler
formatter = base
args = ('/dev/log', handlers.SysLogHandler.LOG_MAIL)

================================ FORMATTERS ==================================

[formatter_base]
format = [%(levelname)s]-[%(process)d-%(thread)d]-[%(asctime)s]-[%(name)s]: %(message)s
