[extended.permanent]

# specifies that current user must be also included in cache key generation by default.
# this could be overridden on each decorated method.
consider_user: true

[complex]

# default timeout for cached items invalidation in milliseconds.
# defaults to 5000 ms (5 seconds).
# this could be overridden on each decorated method.
timeout: 5000

# maximum number of items to be cached in this handler.
# defaults to 5000.
# if you need no limit, it could be set to 'No Limit'.
limit: 5000

# specifies that cached items must be removed from cache in lifo order.
# defaults to false and fifo order will be used.
use_lifo: false

# number of old items to be removed from cache when the limit is reached.
# it must be a positive integer. defaults to 100.
# note that reducing this value to extremely low values will cause a performance
# issue when the cache becomes full.
clear_count: 100

# specifies that cached items which are not expired, must be persisted into
# database on application shutdown and loaded back on next startup.
# for this to work you must override 'Application.get_version' method and
# return a version string in it. then you must increase version on each release
# to invalidate saved caches of older versions.
persistent: false

# specifies that current user must be also included in cache key generation by default.
# this could be overridden on each decorated method.
consider_user: true