[active]
selected: development

[development]

# specifies that '@audit' decorator should be enabled to log execution of decorated methods.
audit_log: true

[production]

# specifies that '@audit' decorator should be enabled to log execution of decorated methods.
audit_log: true

[test]

# specifies that '@audit' decorator should be enabled to log execution of decorated methods.
audit_log: true

[general]

# theses loggers should not be wrapped by logging package, because it causes some errors.
unwrapped_loggers: ['sqlalchemy', 'alembic']