[loggers]
keys: root, werkzeug

[handlers]
keys: console

[formatters]
keys: console

#################################### LOGGERS ####################################
# LOG LEVELS: NOTSET, CRITICAL, ERROR, WARNING, INFO, DEBUG

[logger_root]
level: ERROR
handlers: console
qualname: root

[logger_werkzeug]
level: ERROR
handlers: console
qualname: werkzeug
propagate: 0

#################################### HANDLERS ####################################

[handler_console]
class: StreamHandler
formatter: console
args: (sys.stdout,)

################################### FORMATTERS ###################################

[formatter_console]
format: %(message)s
