[general]

# note that application loading order is as follows:
# 1. pyrin packages
# 2. application packages (for example: 'application')
# 3. application custom packages (for example: 'application.custom')
# 4. test packages (for example: 'tests')

# packages that should be ignored from loading on server startup.
# package names must be fully qualified.
# example: 'pyrin.api.router'
# notice that if a package that has sub-packages added to ignore list,
# all of it's sub-packages will be ignored automatically even if not present in ignore list.
ignored_packages: ['pyrin.packaging', 'pyrin.application', 'pyrin.settings', '*.migrations', '*.locale', '*.settings', 'pyrin.globalization.locale.babel']

# modules that should be ignored from loading on server startup.
# module names could be full or just the module name itself.
# example for full name: 'pyrin.api.enumerations'
# example for module name: 'enumerations'
# notice that if only module name is provided, then all modules
# matching the provided name will be ignored from loading.
ignored_modules: []

# custom packages that should be loaded after pyrin and application packages.
# these packages will replace default behavior of system.
# package names must be fully qualified.
# example: 'application.custom'
custom_packages: []

# test packages that should be loaded after all other packages.
# these packages are used for unit testing and should not be loaded by default.
# package names must be fully qualified.
# example: 'tests'
test_packages: []

# determines that test packages should be loaded.
load_test_packages: False